body{
	background-image: url('https://cdn1.vectorstock.com/i/1000x1000/96/35/jeans-background-design-vector-1799635.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.boxy {
	margin-top: 120px;
	color: yellow;
}

.likeNum {
	width: 50px;
	height: 30px;
}